.grid-layout-projects {
  width: 90%;
  margin: 0 1rem;
}
.grid-projects {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.card-projects {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 15rem;
  border-radius: 1rem;
}

.image-projects {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.button-projects {
  position: absolute;

  align-items: center;

  background-color: var(--color-text-contrast);
  border-radius: 2rem;
  border: 2px solid var(--color-text-contrast);
  padding: 0.5rem 1rem;
  color: var(--color-text);
  font-size: 1rem;
  -webkit-box-shadow: 0px 0px 34px -8px rgba(252, 252, 252, 1);
  -moz-box-shadow: 0px 0px 34px -8px rgba(252, 252, 252, 1);
  box-shadow: 0px 0px 34px -8px rgba(252, 252, 252, 1);
}
.button-projects:hover {
  transition: 1000ms;
  background-color: var(--color-text-secondary);
  border: 2px solid var(--color-text-secondary);
}

.projects-detail-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 3rem;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.projects-detail {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.979);
}
@media screen and (min-width: 1000px) {
  .grid-layout-projects {
    max-width: 300rem;
    margin: 0 10rem;
  }
  .grid-projects {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .card-projects {
    display: flex;
    flex-wrap: wrap;
    width: 27rem;
    height: 15rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .image-projects {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

/* MODAL CSS */

.projects-detail-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
}
.projects-detail {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.979);
}
.title-modal {
  height: min-content;
}
.image-project {
  width: 90%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.knowledge {
  width: 100%;
}
.skills-icons-project {
  color: var(--color-text-contrast);
  display: flex;
  justify-content: flex-start;
  font-size: 3.6rem;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.icon-skill-project {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #151515;
}
.active {
  transition: 1000ms;
  -webkit-box-shadow: 0px 0px 62px -2px var(--color-text-contrast);
  -moz-box-shadow: 0px 0px 62px -2px var(--color-text-contrast);
  box-shadow: 0px 0px 62px -2px var(--color-text-contrast);
}
.container-detail-abour-project {
  width: 100%;
  display: contents;
}
.times-circle {
  position: absolute;
  right: 2rem;
  color: var(--color-text-contrast);
  font-size: 2rem;
  cursor: pointer;
}
.video {
  margin-bottom: 5rem;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .projects-detail-container {
    padding: 3rem;
  }
  .image-project {
    width: 40%;
  }
  .projects-detail {
    position: relative;
    flex-wrap: nowrap;
  }
  .skills-icons-project {
    width: 30rem;
  }
  .container-detail-abour-project {
    margin-left: 3rem;
    margin-top: 10rem;
    display: block;
  }
  .video {
    margin-bottom: 5rem;
    height: 15rem;
    width: 30rem;
  }
}
