.banner {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 0;
}
.action {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  justify-content: space-between;
}

.btn-active,
.btn-about {
  transition: 1000ms;
  border-radius: 2rem;
  border: 2px solid var(--color-text-contrast);
  padding: 0.5rem 1rem;
  color: var(--color-text);
  font-size: 1rem;
}

.btn-active {
  background-color: var(--color-text-contrast);
  -webkit-box-shadow: 0px 0px 62px -2px var(--color-text-contrast);
  -moz-box-shadow: 0px 0px 62px -2px var(--color-text-contrast);
  box-shadow: 0px 0px 62px -2px var(--color-text-contrast);
}
.btn-about {
  background-color: transparent;
}
.btn-active:hover {
  transition: 1000ms;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 0px var(--color-text-contrast);
  -moz-box-shadow: 0px 0px 0px 0px var(--color-text-contrast);
  box-shadow: 0px 0px 0px 0px var(--color-text-contrast);
}

.btn-about:hover {
  transition: 1000ms;
  background-color: var(--color-text-contrast);
  -webkit-box-shadow: 0px 0px 62px -2px var(--color-text-contrast);
  -moz-box-shadow: 0px 0px 62px -2px var(--color-text-contrast);
  box-shadow: 0px 0px 62px -2px var(--color-text-contrast);
}

.image-about {
  height: 20rem;
}

.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 2.5rem;
}
.about p {
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .image-about {
    height: 40rem;
  }
  .btn-active,
  .btn-about {
    transition: 1000ms;
    border-radius: 2rem;
    border: 2px solid var(--color-text-contrast);
    padding: 0.5rem 2rem;
    color: var(--color-text);
    font-size: 0.9rem;
  }
  .action {
    gap: 3rem;
  }
  .about p {
    font-size: 1.8rem;
    width: 70%;
    line-height: 180%;
  }
}
