.app {
  background: #111111;
}

:root {
  --color-text: #f9f9f9;
  --color-text-secondary: #828282;
  --color-text-contrast: rgb(12, 216, 216);
}

h1 {
  color: var(--color-text);
}
span {
  color: var(--color-text-contrast);
}
p {
  color: var(--color-text-secondary);
  font-family: "DM Sans", sans-serif;
}

.grid-layout {
  max-width: 1140px;
  margin: 0 auto;
}
